*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/
/*Fine common*/

/*Container*/
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Fine Container*/
/*TITLE*/
.container > h1 {
    position: absolute;
    top: 10px;
    text-align: center;
}
/*FINE TITLE*/

/*Angle back*/
/*Fine Angle back*/

/*Slider*/
 .container > .slider {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slider > img {
    width: 100%;
}
.container > .back,.next {
    font-size: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
/*Fine slider*/

/*Angle next*/
/*Fine Angle next*/